{% extends 'main/base.html' %}

{% load static %}

{% block title %}CSIT Co-Op{% endblock %}

{% block styleCustom %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="header">
        <h1><span>CS</span><span>IT</span> Partner Management System</h1>
        <p>เว็บสำหรับค้นหาสถานประกอบการ ตำแหน่งงาน<br>และจัดทำเอกสารการสมัครงาน</p>
    </div>
    <div class="container"style="width:35%;">
        <div class="card-container">
                <div class="card">
                    <i class="bi bi-search-heart" style="font-size: 3rem;"></i>
                    <p>ค้นหาสถานประกอบการ</p>
                </div>
                <div class="card">
                    <i class="bi bi-calendar-heart" style="font-size: 3rem;"></i>
                    <p>ปฏิทินสหกิจศึกษา</p>
                </div>
                <div class="card">
                    <i class="bi bi-filetype-pdf" style="font-size: 3rem;"></i>
                    <p>จัดการเอกสารสมัครงาน</p>
                </div>
        </div>
    </div>
{% endblock %}

