{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <form method = "GET">
        <div class="row g-2 mb-3">
            <div class="col-md-3">
                <input type="date" name="start_date" class="form-control" value="{{ request.GET.start_date }}"> <!-- วันที่เริ่ม-->
            </div>
            <div class="col-md-3">
                <input type="date" name="end_date" class="form-control" value="{{ request.GET.end_date }}"> <!-- วันสิ้นสุด-->
            </div>
            <div class="col-md-3">
                <input type="text" name="student_id" class="form-control" placeholder="รหัสนิสิต" value="{{ request.GET.student_id }}"> <!-- รหัสนิสิต-->
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary w-100">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="col-md-1">
                <a href="{% url 'index' %}" class="btn btn-secondary w-100">
                    <i class="bi bi-arrow-counterclockwise"></i>
                </a>
            </div>
        </div>
    </form>
  <table class="table table-striped">
      <thead class="table-dark">
          <tr>
              <th>#</th>
              <th>วันที่</th>
              <th>รหัสนิสิต</th>
              <th>ชื่อไฟล์</th>
              <th>รายละเอียด</th>
          </tr>
      </thead>
      <tbody>
        {% for application in applications %}
          <tr>
              <td>{{application.id}}</td>
              <td>{{application.pdf_date}}</td>
              <td>{{application.student_id}}</td>
              <td>{{application.pdf_file}}</td>
              <td>
                <form method="GET" action="{% url 'admin_check' application.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                        Show PDF
                    </button>
                </form>
                
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}